# Environment variables
.env
.env.local
.env.*.local
web/.env
web/.env.local
web/.env.*.local
server/.env
server/.env.local
server/.env.*.local

# Configuration
config.sh

# Web
node_modules/
web/node_modules/
web/dist/

# server
server/logs/
server/uploads/
server/exports/
server/__pycache__/
server/*/__pycache__/
server/dbs/*.db